<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- <link rel="shortcut icon" href="../../assets/ico/favicon.ico"> -->
    <title>Zhengqiyang.com</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

	   <!-- Customized CSS for this page-->
	   <link href="css/jumbotron.css" rel="stylesheet">
  </head>
  <script> 
  $(function(){
    $("#header").load("header"); 
    $("#footer").load("footer"); 
  });
  </script> 
  <body>
    <!--Load header-->
    <div id="header"></div>
    <div id="footer"></div> 
    </div> <!-- /container -->
    <!-- Bootstrap core JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>